.navContenedor1{
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height : 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.imgLogo{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 70px;
    justify-self:left;
    padding: 25px;
}

.imgBye{
    width: 17px;
}

.btnLogOut{
    border-radius: 5px;
    border-style: none;
    padding-top: 3px;
    background-color: #f3a469;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 0px 3px;

}

.btnLogOut:hover{
    background-color: #f11c00;
    box-shadow:  0px 0px 5px #000000;
    transition: 0.15s ease-in-out;
}

.imgCreate{
    width: 17px;
}

.btnCreate{
    border-radius: 5px;
    border-style: none;
    padding-top: 3px;
    background-color: #f3a469;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 0px 3px;
}

.btnCreate:hover{
    background-color: #a86aa4;
    box-shadow:  0px 0px 5px #7b5fac;
    transition: 0.15s ease-in-out;
}

.imgHome{
    width: 17px;
}

.btnHome{
    border-radius: 5px;
    border-style: none;
    padding-top: 3px;
    background-color: #f3a469;
    cursor: pointer;
    
    margin-right: 10px;
    box-shadow: 0px 0px 3px;
}

.btnHome:hover{
    background-color: #a86aa4;
    box-shadow:  0px 0px 5px #7b5fac;
    transition: 0.15s ease-in-out;
}

.paginadoCont{
    align-self: end;
    justify-self: center ;
}

.btnReload{
    border-radius: 5px ;
    border-style: none;
    padding-top: 3px;
    background-color: #f3a469;
    cursor: pointer;
    box-shadow: 0px 0px 3px;

}

.btnReload:hover{
    background-color: #0b630b;
    box-shadow:  0px 0px 5px #000000;
    transition: 0.15s ease-in-out;
}

.imgReload{
    width: 17px;
}
